@font-face {
    font-family: "Uni Sans Bold";
    src: url("/fonts/Uni\ Sans\ Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #36393F;
    color: white;
}

#Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    color: white;
    font-family: "Uni Sans Bold";
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

input {
    background-color: #2F3136;
    border: none;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

button {
    background-color: #2D7D46;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #225F34;
    cursor: pointer;
}

button:active {
    background-color: #1E532E;
}

.row {
    display: flex;
    flex-direction: row;
}

#Output {
    margin: 10px;
    background-color: #2F3136;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#Level {
    display: inline-block;
    margin: 10px;
}

#Export, #Import {
    margin: 0 5px 0 10px;
}